.login {
    height: 100vh;
}
.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 350px;
    padding: 15px;
    align-items: center;
    justify-content: center;    
}

.form-signin .logo {
    margin-bottom: 50px;
    width: 100%;
}

.form-signin .checkbox {
  font-weight: 800;
  margin-bottom: 40px;
}
.form-signin .form-control {
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}